__pycache__
Qwen3-vl-2B
tmpfile
*.tar
node_modules
dist
*.log
*.cache
*.tmp
*.bak
*.swp
.DS_Store
.vscode
.idea
pnpm-lock.yaml
yarn.lock
package-lock.json
*.pt
save
*.png
*.mp4
.memory/
.vectordb/
*.pth
*.otf